## Reproduce datasets for Scheme A

Paper: "Statistical supervised meta-ensemble algorithm for data linkage"

Kha Vo, Jitendra Jonnagaddala, Siaw-Teng Liaw

February 2019

Jounal of Biomedical Informatics

In [1]:
import recordlinkage as rl, pandas as pd, numpy as np
from recordlinkage.datasets import load_febrl4, load_febrl1, load_febrl2, load_febrl3
from IPython.display import clear_output

In [2]:
df_a, df_b, true_links_ab = load_febrl4(return_links=True) # use this for load_febrl4
#df, true_links_ab = load_febrl3(return_links=True)
# WARNING: load_febrl2 and load_febrl3 does not suit this code, need further process

In [3]:
df = df_a.append(df_b) # use for load_febrl4

/var/folders/8r/gq_z1dy90bjc511vv0fncmww0000gn/T/ipykernel_26740/125540185.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_a.append(df_b) # use for load_febrl4

In [4]:
df['date_of_birth']  = pd.to_datetime(df['date_of_birth'], errors = 'coerce')
df['day'] = df['date_of_birth'].dt.strftime('%d')
df['month'] = df['date_of_birth'].dt.strftime('%m')
df['year'] = df['date_of_birth'].dt.strftime('%Y')

df['postcode'] =   df['postcode'].fillna('0000')
df['postcode'] = df['postcode'].astype(int)

df['street_number'] =   df['street_number'].fillna('0')
df['street_number'] = df['street_number'].astype(int)

df = df.drop(["soc_sec_id",  "date_of_birth"], axis=1)

for col in ["surname", "given_name", "address_1", "address_2", "day", "month"]:
    df[col] = df[col].fillna('')
    df[col] = df[col].astype(str)


# df["match_id"] = range(len(df))

all_fields = df.columns.values.tolist()
#all_fields.remove('rec_id')

print("All fields:", all_fields)
df.head()

All fields: ['given_name', 'surname', 'street_number', 'address_1', 'address_2', 'suburb', 'postcode', 'state', 'day', 'month', 'year']

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,day,month,year
rec_id,,,,,,,,,,,
rec-1070-org,michaela,neumann,8,stanley street,miami,winston hills,4223,nsw,11,11,1915
rec-1016-org,courtney,painter,12,pinkerton circuit,bega flats,richlands,4560,vic,14,12,1916
rec-4405-org,charles,green,38,salkauskas crescent,kela,dapto,4566,nsw,30,09,1948
rec-1288-org,vanessa,parr,905,macquoid place,broadbridge manor,south grafton,2135,sa,19,11,1995
rec-3585-org,mikayla,malloney,37,randwick road,avalind,hoppers crossing,4552,vic,08,02,1986

In [5]:
df['match_id'] = [-1]*len(df)

for i in range(len(true_links_ab)):
    k0  = true_links_ab[i][0]
    k1  = true_links_ab[i][1]
    df.at[k0, "match_id"] = i
    df.at[k1, "match_id"] = i
    print("Processed:", i)
    clear_output(wait=True)

Processed: 4999

In [11]:
#df.to_csv("febrl3_UNSW.csv", index=True)
df.to_csv("febrl4_UNSW.csv", index=True)